<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portofolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header class="navbar-container">
        <div class="navbar-content">
            <div class="logo">
                <a href="#home">
                    <h3>Aji Angri Awan</h3>
                </a>
            </div>
            <nav class="nav-list">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#products">Portofolio</a></li>
                </ul>
            </nav>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
    </header>
    <main>
        <div class="content">
            <article id="home" class="section">
                <div class="content-description">
                    <h1 class="title">Aji Angri Awan</h1>
                    <h2>Information Systems Student | Website Developer</h2>
                    <p>Saya percaya bahwa teknologi adalah kunci untuk menciptakan solusi inovatif, dan itulah
                        yang
                        mendorong saya untuk mengejar keahlian dalam pengembangan web.<br>
                        <q style="font-weight: bold; font-style: italic;">Let's make something useful</q>
                    </p>
                    <a href="https://drive.google.com/file/d/1EJuufCS1-qXdyDI1UN1FHx6N4-K0JAP1/view?usp=sharing">
                        <button>Download CV</button>
                    </a>
                </div>
                <div class="content-image">
                    <img src="../static/aji.png" alt="aji-img" />
                </div>
            </article>
            <article id="products" class="section">
                <h1 class="title">Portofolio</h1>
                <div class="row">
                    <a href="https://queensha.infinityfreeapp.com/">
                        <div class="card">
                            <img src="../static/porto1.png" alt="porto1" class="img-card" />
                            <h2>Landing Page</h2>
                            <p class="card-description">Project Landing Page untuk sebuah UMKM yang bergerak dibidang
                                makanan atau jajanan tradisional.</p>
                        </div>
                    </a>
                    <a href="https://trukhinopalembang.com/">
                        <div class="card">
                            <img src="../static/porto2.jpg" alt="porto2" class="img-card" />
                            <h2>Website Promosi</h2>
                            <p class="card-description">Pembuatan Website Promosi penjualan mobil truck Hino dengan
                                desain simple.</p>
                        </div>
                    </a>
                    <a href="https://www.instagram.com/p/Cx42jRMJwew/?img_index=1">
                        <div class="card">
                            <img src="../static/porto3.jpg" alt="porto3" class="img-card" />
                            <h2>Company Website</h2>
                            <p class="card-description">Project pembuatan Website untuk perusahaan dengan usaha dalam
                                bidang layanan teknologi.</p>
                        </div>
                    </a>
                    <a href="https://www.instagram.com/p/CxxCwtbJBWf/?img_index=1">
                        <div class="card">
                            <img src="../static/porto4.jpg" alt="porto4" class="img-card" />
                            <h2>Web Sekolah</h2>
                            <p class="card-description">Sebuah Website yang bertujuan untuk menambah nilai atau value
                                dari
                                suatu sekolah.</p>
                        </div>
                    </a>
                </div>
            </article>
        </div>
        <aside>
            <div class="social-media">
                <ul>
                    <li>
                        <a href="www.linkedin.com/in/ajiangriawan"><i class="fab fa-linkedin-in"></i></a>
                    </li>
                    <li>
                        <a href="https://wa.me/+6287813233775"><i class="fab fa-whatsapp"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/ajiangriawan/"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/@ajiangriawan8771"><i class="fab fa-youtube"></i></a>
                    </li>
                    <li>
                        <a href="mailto:ajiangriawan6@gmail.com"><i class="fas fa-envelope"></i></a>
                    </li>
                </ul>
            </div>
        </aside>
    </main>
    <footer>
        <p>&copy; 2024 || Aji Angri Awan<br /> All rights reserved.</p>
    </footer>

</body>
<script src="../static/script.js"></script>

</html>